{% extends 'gear_manager/layout.html' %}
{% load static %}

{% block content %}
<form method="post" action="{% url 'login' %}" class="container container--narrow">
  <fieldset>
    <legend><h1>Login</h1></legend>
    {% csrf_token %}
    <ul class="form-list">
      <li class="form-list__item row">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </li>
      <li class="form-list__item row">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </li>
    </ul>
  </fieldset>
  <button type="submit">Login</button>
</form>

<p class="container container--narrow">Don't have an account? <a href="{% url 'register' %}">Register</a></p>

{% endblock %}
