:root {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;

  --black: #353535;
  --green: #3c6e71;
  --white: #fff;
  --grey: #d9d9d9;
  --blue: #284b63;

  --bg-color: var(--white);
  --text-color: var(--black);
  --link-color: var(--blue);
  --link-visited-color: var(--green);
  --link-hover-color: var(--link-visited-color);
  --footer-bg: var(--blue);
  --footer-text: var(--white);
  --hero-container-bg: rgba(40, 75, 99, 0.4);
  --hero-text: var(--white);

  @media (prefers-color-scheme: dark) {
    --bg-color: var(--black);
    --text-color: var(--white);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

header {
  padding: 1rem;
}

footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  padding: 1rem;
  text-align: center;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.sr-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.vert-centered {
  align-items: center;
}

.nav {
  list-style-type: none;
}

.nav-item {
  margin-inline-end: 1rem;
}

.hero {
  color: var(--hero-text);
  padding: 4rem;
  text-align: center;
  font-size: 110%;
}

.hero__with-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  background-color: var(--hero-container-bg);
  border-radius: 0.5rem;
  padding: 2rem;
}
