{% extends 'gear_manager/layout.html' %}
{% load static %}

{% block content %}
<form method="post" action="{% url 'register' %}" class="container container--narrow">
  <fieldset>
    <legend><h1>Register</h1></legend>
    {% csrf_token %}
    <ul class="form-list">
      <li class="form-list__item row">
        <label for="email_address">Email address</label>
        <input type="email" id="email_address" name="email_address" required>
      </li>
      <li class="form-list__item row">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </li>
      <li class="form-list__item row">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </li>
      <li class="form-list__item row">
        <label for="confirmation_password">Confirm Password</label>
        <input type="password" id="confirmation_password" name="confirmation_password" required>
      </li>
      <li class="form-list__item row">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name">
      </li>
      <li class="form-list__item row">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name">
      </li>
    </ul>
  </fieldset>
  <button type="submit">Register</button>
</form>

<p class="container container--narrow">Already have an account? <a href="{% url 'login' %}">Log in</a></p>

{% endblock %}
